{% extends "base.html" %}

{% block title %}Eventos{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-4 offset-md-4">
        <h2>Edición de Rating</h2>
        <div class="card">
            <div class="card-body">
                <form action="/rating/editarRating" method="POST">
                    {% csrf_token %}
                    
                    <div class="mb-2 mt-4">
                      <label class="form-label"><h5>{{ form.tituloR.label }}</h5></label>
                      {{ form.tituloR }}
                      {{ form.tituloR.errors }}
                    </div>
                  
                    {{ form.idEventoRating }}
                    
                    <div class="mb-2">
                      <label class="form-label">Tu calificación *</label>
                      <div class="star-rating star-selectable">
                        <i class="far fa-star" data-value="1"></i>
                        <i class="far fa-star" data-value="2"></i>
                        <i class="far fa-star" data-value="3"></i>
                        <i class="far fa-star" data-value="4"></i>
                        <i class="far fa-star" data-value="5"></i>
                      </div>
                      <small class="form-text text-muted">Selecciona una calificación</small>
                      {{ form.califiqueR.errors }}
                    </div>
                  
                    {{ form.califiqueR }}
                  
                    <div class="mb-3">
                      <label class="form-label">{{ form.descripcionR.label }}</label>
                      {{ form.descripcionR }}
                      {{ form.descripcionR.errors }}
                    </div>

                    <div class="mb-3">
                      <label for="extraInput" class="form-label">Dato adicional</label>
                      <input type="hidden" name="idRating" id="idRating" value="{{rating.id}}">
                    </div>
                  
                    <button type="submit" class="btn btn-primary">Enviar calificación</button>
                  </form>  
            </div>
        </div>
    </div>
</div>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

<script>
    document.querySelectorAll('.star-selectable i').forEach(star => {
      star.addEventListener('click', () => {
        const value = parseInt(star.dataset.value);  // valor de la estrella clickeada
        document.getElementById('califiqueR').value = value;  // actualiza el input hidden
        // Cambiar visualmente las estrellas según el valor elegido
        const stars = star.parentElement.querySelectorAll('i');
        stars.forEach((s, i) => {
          s.className = i < value ? 'fas fa-star' : 'far fa-star';
          s.style = "color: gold;";
        });
      });
    });
  </script>

{% endblock %}