{% extends "base.html" %}

{% block title %}Eventos{% endblock %}

{% block content %}
<div class="container">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h1>Rating</h1>

        <h2> Listado de Calificaciones</h2>
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover">
                <thead class="table-dark">
                    <tr>
                        <th>Titulo</th>
                        <th>Comentario</th>
                        <th>Puntuacion</th>
                        <th>Fecha</th>
                    </tr>
                </thead>
                <tbody>
                    {% for r in listaRating %}
                    <tr>
                        <td>{{ r.title    }}</td>
                        <td>{{ r.text }}</td>
                        <td>{{ r.rating }}</td>
                        <td>{{ r.created_at }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

</div>
{% endblock %}
