{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="d-flex justify-content-between align-items-center">
            <h1>{{ event.title }}</h1>
            <div>
            {% if user_is_organizer %}
                <a
                    href="{% url 'event_edit' event.id %}"
                    class="btn btn-outline-primary me-2"
                >
                    <i class="bi bi-pencil me-1"></i>Editar
                </a>
            {% endif %}
            {% if not user_is_organizer %}
                <a
                    href="{% url 'buy_ticket' event.id %}"
                    class="btn btn-success me-2"
                >
                <i class="bi bi-cart-plus me-1"></i> Comprar entrada
            </a>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Detalles del Evento</h5>
                <p class="card-text">{{ event.description }}</p>
                <div class="mt-4">
                    <div class="d-flex align-items-center mb-3">
                        <div class="bg-light rounded-circle p-2 me-3">
                            <i class="bi bi-calendar-event text-primary"></i>
                        </div>
                        <div>
                            <h6 class="mb-0">Fecha y Hora</h6>
                            <p class="mb-0">{{ event.scheduled_at|date:"l, j \\d\\e F \\d\\e Y, H:i" }}</p>
                        </div>
                        <div class="d-flex align-items-center mb-3">
                            <div class="bg-light rounded-circle p-2 me-3">
                                <i class="bi bi-geo-alt text-primary"></i>
                            </div>
                            <div>
                                <h6 class="mb-0">Ubicación</h6>
                                <p class="mb-0">{{ event.location }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex align-items-center mb-3">
                        <div class="bg-light rounded-circle p-2 me-3">
                            <i class="bi bi-person text-primary"></i>
                        </div>
                        <div>
                            <h6 class="mb-0">Organizador</h6>
                            <p class="mb-0">{{ event.organizer }}</p>
                        </div>
                    </div>
                    {% if user_is_organizer %}
                    <diqv class="d-flex align-items-center mb-3">
                        <div class="bg-light rounded-circle p-2 me-3">
                            <i class="bi bi-award"></i>
                        </div>
                        <div>
                            <h6 class="mb-0">Promedio de calificación:</h6>
                            <p class="mb-0"> {{ event.promedio_rating|floatformat:2 }}</p>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

<div class="card mt-3">
    <div class="card-body">
        <h4>Calificaciones y Reseñas ( {{ ratings|length }} )</h4>
        <div style="max-height: 400px; overflow-y: auto;">
        <!-- Reseña 1 -->
        {% for r in ratings %}
        <div class="review-box position-relative">
            {% if user_is_organizer %}
            <a href="/rating/eliminarRating/{{r.id}}" class="text-danger position-absolute top-0 end-0 me-2 mt-2" title="Eliminar" onclick="return confirm('¿Estás seguro que querés eliminar este comentario?')">
                <i class="bi bi-trash"></i> Eliminar
            </a>
            {% endif %}
            <strong>usuario : {{ r.usuario.username }}</strong><br>
            <small class="text-muted">fecha: {{ r.created_at }}</small>
            <h6 class="mt-2">{{ r.title }}</h6>

            <div class="star-rating mb-2">{% for _ in r.full_stars %}
                <i class="bi bi-star-fill" style="color: gold;"></i>
                {% endfor %}
                {% for _ in r.empty_stars %}
                <i class="bi bi-star" style="color: gold;"></i>
                {% endfor %}
            </div>
            <p>{{ r.text }}.</p>
        </div>        
        {% endfor %}
        </div>
        
        {% if not user_is_organizer %}
        <!-- Se muestran los errores de validación, Inicio-->
        {% if form.non_field_errors %}
            <div class="alert alert-danger">
        {% for error in form.non_field_errors %}
            <p>{{ error }}</p>
        {% endfor %}
            </div>
        {% endif %}
        <!-- Fin -->
        <form action="/rating/crearRating" method="POST">
            {% csrf_token %}
            <div class="mb-2 mt-4">
                <label class="form-label"><h5>{{ form.tituloR.label }}</h5></label>
                {{ form.tituloR }}
                {{ form.tituloR.errors }}
            </div>
            {{ form.idEventoRating }}
            
            <div class="mb-2">
              <label class="form-label">Tu calificación *</label>
                <div class="star-rating star-selectable">
                <i class="far fa-star" data-value="1"></i>
                <i class="far fa-star" data-value="2"></i>
                <i class="far fa-star" data-value="3"></i>
                <i class="far fa-star" data-value="4"></i>
                <i class="far fa-star" data-value="5"></i>
                </div>
                <small class="form-text text-muted">Selecciona una calificación</small>
                {{ form.califiqueR.errors }}
            </div>
            {{ form.califiqueR }}
            <div class="mb-3">
                <label class="form-label">{{ form.descripcionR.label }}</label>
                {{ form.descripcionR }}
                {{ form.descripcionR.errors }}
            </div>
            <button type="submit" class="btn btn-primary">Enviar calificación</button>
            </form> 
            {% endif %}  
        </div>
    </div>
    </div>
</div>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

<script>
    document.querySelectorAll('.star-selectable i').forEach(star => {
        star.addEventListener('click', () => {
            const value = parseInt(star.dataset.value);  // valor de la estrella clickeada
            document.getElementById('califiqueR').value = value;  // actualiza el input hidden
            // Cambiar visualmente las estrellas según el valor elegido
            const stars = star.parentElement.querySelectorAll('i');
            stars.forEach((s, i) => {
            s.className = i < value ? 'fas fa-star' : 'far fa-star';
            s.style = "color: gold;";
            });
        });
        });
</script>
{% endblock %}
