{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h1 class="mb-4" id="edit-event-title" data-testid="form-title">
                {% if event.id %}
                    Editar evento
                {% else %}
                    Crear evento
                {% endif %}
            </h1>

            <div class="card">
                <div class="card-body">
                    <form action="{% if event.id %}{% url 'event_edit' event.id %}{% else %}{% url 'event_form' %}{% endif %}" method="POST">
                        {% csrf_token %}
                        <div class="vstack gap-3">
                            <div>
                                <label for="title" class="form-label">Título del Evento</label>
                                <input class="form-control"
                                    id="title"
                                    required=""
                                    type="text"
                                    value="{{ event.title }}"
                                    name="title"
                                    data-testid="event-title" />
                            </div>
                            <div>
                                <label for="description" class="form-label">Descripción</label>
                                <textarea
                                    class="form-control"
                                    id="description"
                                    name="description"
                                    rows="4"
                                    required="">{{ event.description }}</textarea>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label for="date" class="form-label">Fecha</label>
                                    <input
                                        class="form-control"
                                        id="date"
                                        required=""
                                        type="date"
                                        value="{{ event.scheduled_at|date:'Y-m-d'}}"
                                        name="date" 
                                        data-testid="event-date" />
                                </div>
                                <div class="col-md-6">
                                    <label for="time" class="form-label">Hora</label>
                                    <input
                                        class="form-control"
                                        id="time"
                                        required
                                        type="time"
                                        value="{{ event.scheduled_at|date:'H:i'}}"
                                        name="time"
                                        data-testid="event-time"
                                    />
                                </div>
                                <div>
                                    <label for="location" class="form-label">Lugar</label>
                                    <input
                                        class="form-control"
                                        id="location"
                                        required
                                        type="text"
                                        value="{{ event.location }}"
                                        name="location"
                                        data-testid="event-location"
                                    />
                                </div>
                            </div>
                            <div>
                                <button type="submit" class="btn btn-primary" data-testid="submit-button">
                                    {% if event.id %}
                                        Editar Evento
                                    {% else %}
                                        Crear Evento
                                    {% endif %}
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
