<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}EventHub{% endblock %}</title>
    <link
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css"
        rel="stylesheet"
    >
    <meta name="viewport" content="width=device-width, initial-scale=1" />

</head>

<body>
    <!-- Navbar solo visible si el usuario está autenticado -->
    <nav class="navbar bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">EventHub</a>

            <div class="hstack gap-2">
                {% if user.is_authenticated %}
                <form class="d-flex" action={% url 'logout' %} method="POST">
                    {% csrf_token %}
                    <button class="btn btn-sm btn-outline-secondary" type="submit" name="logout">Salir</button>
                </form>
                {% else %}
                <form class="d-flex" action={% url 'login' %} method="POST">
                    {% csrf_token %}
                    <button class="btn btn-sm btn-outline-primary" type="submit" name="login">Ingresá</button>
                </form>

                <form action="{% url 'register' %}" method="POST">
                    {% csrf_token %}
                    <button class="btn btn-sm btn-primary" type="submit" name="register">Creá tu cuenta</button>
                </form>
                {% endif %}
            </div>
        </div>
    </nav>

    {% block content %}
    {% endblock %}
</body>

</html>
