name: ci

on:
    pull_request:
        branch: [main]

jobs:
    lint:
      name: lint
      runs-on: ubuntu-latest

      steps:
        - name: Check out code
          uses: actions/checkout@v4

        - name: Set up python
          uses: actions/setup-python@v5
          with:
              python-version: '3.10'
              cache: 'pip'
        - run: pip install -r requirements-dev.txt

        - name: Run static test
          run: ruff check

    tests:
        name: tests
        runs-on: ubuntu-latest

        steps:
            - name: Check out code
              uses: actions/checkout@v4

            - name: Set up python
              uses: actions/setup-python@v5
              with:
                  python-version: '3.10'
                  cache: 'pip'
            - run: pip install -r requirements-dev.txt

            - name: Install playwright
              run: python -m playwright install --with-deps firefox

            - name: Run e2e tests
              run: python manage.py test app/test/test_e2e